.widget-jenkins_job {

  &.container {
    background-color: #999;
    padding: 0 8px !important;
    height: auto;
    vertical-align: top !important;

    .stackTitle {
      font-size: 22px;
      margin-top:10px;
    }

    .item {
      position: relative;
      padding-top: 8px !important;

      .icon-background {
        font-size: 35px;
        top: -144px;
      }

      .widget {
        width: auto;
        padding: 7px;
        display: block;
        overflow: hidden;

        h1.title {
          float: left;
          font-size: 22px;
          margin-bottom: 0;
        }

        .buildnumber {
          font-size: 22px;
          float: left;
          margin-left: 10px;
        }

        .timeAgo {
          float: right;
        }

        .progress {
          float: right;
          width: 50%;
          font-size: 17px;
        }

        .footer {
          display: none;
        }

        .ui-progressbar {
          height: 0.2em;
        }
      }
    }
  }

  &.two-row-container {
    position: relative;
    width: auto;

    .icon-background {
      font-size: 136px;
      top: -82px;
    }
  }

  .widget {
    vertical-align: top;
    position:relative;

    h1.title {
      font-size: 36px;
      font-weight: bold;
    }

    h2.buildnumber {
      font-size: 68px;
    }

    .timeAgo {
      font-size: 22px;
    }

    .footer {
      position:absolute;
      bottom:0px;
    }

    .duration {
      padding-bottom:10px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
    }

    // jQueryUI progressBar

    .ui-widget-content {
      border: 1px solid #aaaaaa;
      background: #ffffff url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
      color: #222222;
    }

    .ui-widget-header {
      border: 1px solid #aaaaaa;
      background: #cccccc url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% 50% repeat-x;
      color: #222222;
      font-weight: bold;
    }

    .pbar .ui-progressbar-value {
      display:block !important
    }

    .pbar {
      overflow: hidden
    }

    .percent {
      position:relative;
      text-align: right;
      float: left;
    }

    .elapsed {
      position:relative;
      text-align: right;
    }

    // Half sized widget

    &.two-row-widget {
      height: 175px;
      margin: 0 0 10px 0;
      padding: 10px;
      display: block;
      box-sizing: border-box;
      overflow: hidden;

      h1 {
        font-size: 26px;
        margin-bottom: 0;
        //font-weight: normal !important;
      }

      .ui-progressbar {
        height: 2em;
      }

    }
  }

  .unknown {
    background-color: yellow;
  }

  .unstable {
    background-color: #ff0000;
  }

  .running {
    background-color: #288062;
  }

  .success {
    background-color: #008000;
  }

  .failure {
    background-color: #ff0000;
  }

  .aborted {
    background-color: rgba(28, 194, 255, 0.27);
  }

}